@charset 'utf-8'
.content {clear: both; width:100%; margin: 0 auto;}
    .vs {width: 100%; clear: both; overflow: hidden; position: relative;}
    .vs .img_box {width: 300%; overflow: hidden;}
    .vs .img_box li a{ display: block; float: left;}
    .vs .icon_box .icon1 { display: block; position: absolute; top: 270px; left: 50px; opacity: 0.9; width: 200px;height: 200px;}
    .vs .icon_box .icon2 { display: block; position: absolute; top: 270px; left: 270px; opacity: 0.9; width: 200px;height: 200px;}
    .vs .icon_box .icon3 { display: block; position: absolute; top: 270px; right: 230px; opacity: 0.9; width: 200px;height: 200px;}
    .vs .icon_box .icon4 { display: block; position: absolute; top: 270px; right: 10px; opacity: 0.9; width: 200px;height: 200px;}

    .icon1, .icon2, .icon3, .icon4 img {display: block; width: 200px; height: 200px;}

    .page {width: 1440px; height: 500px; margin: 0 auto;}
    .left {float: left; width: 720px; position: relative;}
    .left .more_btn {text-align: center; margin-bottom: 20px;width: 80px; height: 80px; position: absolute; right: 55px; top: 50px; transition: 0.6s; font-size: 50px ;color:#5a722d; border: 3px solid #5a722d; border-radius: 50px;}
    .left .more_btn:hover {background-color: #5a722d; color: #fff; }
    .tb_box {margin-left: 50px;width: 600px;  border: 5px solid #c9dbef; height: 220px; padding-top: 10px; }
    .tb {display: table; width: 600px; height: 200px;border-collapse: collapse;}
    .tb tr {display: table-row;}
    .tb td {display: table-cell; line-height: 50px; border-bottom: 1px solid #333; }
    .tb tr:last-child td {border-bottom: 0;}
    .tb .col1 {width: 30px; text-align: center; height: 30px; font-weight: 500;}
    .tb .col2 {width: 450px; font-weight: 600;}
    .tb .col2 a {display: block; width: 430px; padding-left: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333; }
    .tb .col3 {font-weight: 500;}


    .right {float: right; width: 720px; position: relative;}
    .right_tit {text-align: left; display: block; padding-left: 0px; padding-bottom: 20px; font-size: 30px;}
    .sns_box .sns_icon1{ width: 50px; height: 50px;padding-right: 10px;  position: absolute; right: 0; top: 70px;}
    .sns_box .sns_icon2{ width: 50px; height: 50px;padding-right: 10px;  position: absolute; right: 60px; top: 70px;}
    .sns_box .sns_icon3{ width: 50px; height: 50px;padding-right: 10px;  position: absolute; right: 120px; top: 70px;}
    .control_box li {width: 50px; height: 50px; padding-right: 20px; float: left;}
    .control_box li a {display: block; border: 3px solid #ccc; font-size: 30px; width: 50px; height: 50px; text-align: center; border-radius: 30px; padding-top: 10px; color: #bbb; transition: 0.6s}
    .control_box li a:hover {border: 3px solid #5a722d; color: #5a722d;}
    .control_box .con_icon1 { position: absolute; right: 390px; top: 380px;}
    .control_box .con_icon2 { position: absolute; right: 330px; top: 380px;}
    .control_box .con_icon3 { position: absolute; right: 270px; top: 380px;}


    .left_tit {text-align: left; display: block; padding-left: 80px; padding-bottom: 20px; font-size: 30px;}
    #page1 {position: relative;}
    .left .tb_btn {padding-top: 30px;}
    .left .tb_btn li {float: left; width: 50%;}
    .left .tb_btn a {display: block; width: 280px; height: 44px; margin-top: 15px; padding-top: 15px; border-radius: 10px; background-color: #5a722d;  text-align: center; color: #fff; font-weight: 600; transition: 0.6s; font-size: 20px}
    .left .tb_btn a:hover {background-color: navy; color: #fff;}

    .ani_box .ani1 {position: absolute; top: -150px; left: -600px;}
    .ani_box .ani2 {position: absolute; top: -150px; right: 100px;}

    .banner_box {width: 720px; overflow: hidden;}
    .banner_box li {width: 400%;float: left; overflow: hidden;}
    .banner_box li a {padding-right: 20px;}
    .banner_box li a:hover .banner_box li a img { padding-bottom: 30px;    }

    #page2 {width: 1440px;margin: 0 auto; height: 900px; padding-top: 100px;}
    #page2 .pg2_left {width: 950px; height: 900px; background-image: url(./img/map1_1.jpg); position: relative; margin-right: 0; float: left;}
    #page2 .pg2_left  .map_1 { display: block; width: 180px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 80px; top: 150px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_1:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon1 {color: green; font-size: 60px; position: absolute; top: 130px; left: 60px; z-index: 1;}
    #page2 .pg2_left  .map_2 { display: block; width: 180px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 280px; top: 280px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_2:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon2 {color: green; font-size: 60px; position: absolute; top: 260px; left: 260px; z-index: 1;}
    #page2 .pg2_left  .map_3 { display: block; width: 180px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 700px; top: 400px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_3:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon3 {color: green; font-size: 60px; position: absolute; top: 370px; left: 685px; z-index: 1;}
    #page2 .pg2_left  .map_4 { display: block; width: 180px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 380px; top: 720px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_4:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon4 {color: green; font-size: 60px; position: absolute; top: 700px; left: 360px; z-index: 1;}
    #page2 .pg2_left  .map_5 { display: block; width: 180px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 260px; top: 460px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_5:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon5 {color: green; font-size: 60px; position: absolute; top: 440px; left: 250px; z-index: 1;}
    #page2 .pg2_left  .map_6 { display: block; width: 250px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 570px; top: 580px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_6:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon6 {color: green; font-size: 60px; position: absolute; top: 550px; left: 550px; z-index: 1;}
    #page2 .pg2_left  .map_7 { display: block; width: 180px; height: 44px; border-radius: 15px; border: 1px solid #ccc; opacity: 0.8; background-color: beige; position: absolute; left: 500px; top: 180px; text-align: center; font-size: 25px; padding-top: 15px; color: #000; font-weight: 600; transition: 0.6s }
    #page2 .pg2_left  .map_7:hover {background-color: #5a722d; color: #fff;}
    #page2 .pg2_left #map_icon7 {color: green; font-size: 60px; position: absolute; top: 160px; left: 490px; z-index: 1;}

    #ra1:checked ~ .right_imgbox .im1 {display: block;}
    #ra2:checked ~ .right_imgbox .im2 {display: block;}
    #ra3:checked ~ .right_imgbox .im3 {display: block;}
    #ra4:checked ~ .right_imgbox .im4 {display: block;}
    #ra5:checked ~ .right_imgbox .im5 {display: block;}
    #ra6:checked ~ .right_imgbox .im6 {display: block;}
    #ra7:checked ~ .right_imgbox .im7 {display: block;}

    #page2 .pg2_right {width: 490px; height: 900px; float: right;}
    .pg3_tit {display: block; font-size: 35px; font-weight: 600; text-align: center;}
    .ra {display: none;}
    .im1,.im2,.im3,.im4,.im5,.im6,.im7 {display: none; transition: 0.6s}

    .right_imgbox .im1 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .pg3_com {margin-top: 70px;padding-left: 100px;display: block; font-size: 30px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox ul{background-color: bisque; width: 490px; height: 900px;}
    .right_imgbox .im1 {padding-left: 50px; float: left; position: relative;}

    .right_imgbox .im1 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im1 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im1 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}

    .right_imgbox .im2 {padding-left: 50px; float: left; position: relative;}
    .right_imgbox .im2 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im2 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .im2 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im2 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}

    .right_imgbox .im3 {padding-left: 50px; float: left; position: relative;}
    .right_imgbox .im3 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im3 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .im3 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im3 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}

    .right_imgbox .im4 {padding-left: 50px; float: left; position: relative;}
    .right_imgbox .im4 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im4 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .im4 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im4 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}

    .right_imgbox .im5 {padding-left: 50px; float: left; position: relative;}
    .right_imgbox .im5 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im5 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .im5 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im5 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}

    .right_imgbox .im6 {padding-left: 50px; float: left; position: relative;}
    .right_imgbox .im6 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im6 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .im6 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im6 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}
        
    .right_imgbox .im7 {padding-left: 50px; float: left; position: relative;}
    .right_imgbox .im7 a img {display: block; width: 400px; height: 300px; padding-top: 100px; }
    .right_imgbox .im7 .pg3_com1 {margin-top: 10px;padding-left: 100px;display: block; font-size: 28px; font-weight: 600; width: 300px;height: 40px;}
    .right_imgbox .im7 #pg3_ico1 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 710px; left: 100px; color: deepskyblue;}
    .right_imgbox .im7 #pg3_ico2 {display: block; font-size: 38px; font-weight: 600; width: 40px;height: 40px; position: absolute; top: 760px; left: 100px; color: deepskyblue;}

    #page3 {width: 1440px;margin: 0 auto; margin-top: 50px; height: 800px;}
    #page3 .insta_box {width: 100%;}
    #page3 .insta_box li {float: left;}
    #page3 .insta_box li a {padding-right: 20px; opacity: 0.4; transition: 0.6s}
    #page3 .insta_box li a:hover {opacity: 1}
    .page3_tit {display: block; text-align: center; padding-bottom: 30px;}
    .page3_tit img{display: block; width: 400px; height: 140px; margin-left: 560px;}
    #page3 .insta_box2 {width: 100%; }
    #page3 .insta_box2 li {float: left; padding-top: 10px;}
    #page3 .insta_box2 li a {padding-right: 20px; opacity: 0.4; transition: 0.6s}
    #page3 .insta_box2 li a:hover {opacity: 1}

    #page4 {width: 1440px;margin: 0 auto; margin-top: 50px; height: 600px; background-color: bisque;}
    .pg4_tit {display: block; text-align: center; padding-bottom: 30px;}
    #page4 .utb_box {width: 100%;}
    #page4 .utb_box li {float: left; position: relative;}
    #page4 .utb_box li iframe {border: 5px solid bisque; padding-left: 30px;}
    #page4 .utb_link {position: absolute; display: block; top: -80px; right: 0px;}
    #page4 .utb_link img {width: 350px;height: 50px; display: block;}
        