@charset 'utf-8';

.lv {
    font-family: "Lv2";
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

.hd {
    width: 100%;
    height: 150px;
    position: relative;
}

.logo_wrap {
    width: 100%;
    height: 50px;
}

.logo_wrap a {
    display: block;
    padding-top: 20px;
    margin-left: 520px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.gnb {
    margin-top: 40px;
    width: 100%;
    height: 50px;
}

.gnb > ul {
    width: 100%;
    height: 100%;
    `
}

.gnb > ul > li {
    width: 20%;
    float: left;
    position: relative;
}

.gnb > ul > li > a {
    display: block;
    width: 180px;
    height: 35px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #000;
    transition: 0.8s;
    margin-left: 25px;
}

.gnb > ul > li > a:hover {
    text-decoration: underline 2px solid #000;
}

.sub {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    z-index: 2;
}

.sub li {
    width: 200px;
    height: 40px;
}

.sub li a {
    display: block;
    line-height: 60px;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 40px;
    margin-left: 22px;
    color: #000;
}

#sub_wrap {
    position: absolute;
    top: 130px;
    width: 100%;
    height: 250px;
    display: none;
    background: #f7f8f8;
    z-index: 1;
}

#visual {
    width: 100%;
    height: 600px;
    position: relative;
}

#visual #up,
#visual #down {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#visual #up {
    left: 100px;
    top: 50px;
}

#visual #down {
    left: 100px;
    top: 440px;
}

#buttons {
    position: absolute;
    width: 200px;
    height: 315px;
    overflow: hidden;
    left: 30px;
    top: 100px;
}

#buttons ul {
    position: absolute;
    width: 200px;
    height: 315px;
}

#buttons li {
    width: 170px;
    height: 50px;
    border: 1px solid #000;
    line-height: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 15px;
}

#picture {
    position: absolute;
    width: 880px;
    height: 500px;
    top: 50px;
    left: 250px;
}

.page {
    width: 100%;
    height: 800px;
    border: 1px solid transparent;
}

#page1 {
    background: #000;
    position: relative;
    border: 2.5px solid #000;
}

#page1 .page1_tit {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #fff;
    font-size: 25px;
}

.spin_box {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    perspective: 800px;
}

.spin_box img {
    position: absolute;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 1s;
    top: 100px;
    border: 1px solid #aaa;
}

.spin_box .p0 {
    z-index: 1;
    margin-left: -580px;
    transform: rotateY(0deg) scale(0.2);
}

.spin_box .p1 {
    z-index: 2;
    margin-left: -450px;
    transform: rotateY(30deg) scale(0.5);
}

.spin_box .p2 {
    z-index: 3;
    margin-left: -250px;
    transform: rotateY(30deg) scale(0.65);
}

.spin_box .p3 {
    /* (원래6번)z-index: 3;
    margin-left: 200px;
    transform: rotateY(150deg) scale(0.65);*/
    z-index: 5;
    margin-left: -60px;
    transform: rotateY(180deg) scale(1);
}

.spin_box .p4 {
    z-index: 3;
    margin-left: 150px;
    transform: rotateY(150deg) scale(0.65);
}

.spin_box .p5 {
    z-index: 2;
    margin-left: 350px;
    transform: rotateY(150deg) scale(0.5);
}

.spin_box .p6 {
    /*(원래3번)z-index: 5;
    margin-left: -20px;
    transform: rotateY(180deg) scale(1);*/

    z-index: 1;
    margin-left: 480px;
    transform: rotateY(180deg) scale(0.2);


}

#page1 button {
    position: absolute;
    bottom: 40px;
    left: 40%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: none;
}

#page1 .next {
    left: 55%;
}

#page2 {
    height: 1300px;
}

#page2 .page2_tit {
    margin-top: 70px;
    margin-left: 35px;
    font-weight: 900;
}

#page2 #section2_1 {
    width: 700px;
    height: 400px;
    margin-top: 100px;
    margin-left: 30px;
    float: left;
    border: 1px solid #aaa;
}

#section2_com1 {
    margin-top: 70px;
    width: 300px;
    height: 400px;
    float: left;
}

.section2_tit1 {
    margin-left: 50px;
    margin-top: 100px;
    display: block;
    width: 400px;
}

.section2_com1 {
    width: 400px;
    display: block;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
}

#section2_2 {
    width: 600px;
    height: 600px;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    border: 2px solid #aaa;
}

#section2_com2 {
    width: 550px;
    height: 550px;
    float: left;
    margin-top: 200px;
}

.section2_com2 {
    display: block;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
}